

        body {
            background-color: #b86513;
        }

        h1 {
            color: #2f59ad;
           
        }
        h2 {
            color: #2fad4a;
           
        }
        p {
            color: #b63737cc;
        
        }

        button {
            color: #fff;
            background-color: #025157;
        }
